<!DOCTYPE html>
<html>
<head>
  <title>Personalwebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-bar-wrapper">
    <nav>
      <div class="site-title"><strong>Chen</strong></div>
      <ul class="nav-list">
        <li class="nav-link">Projects</li>
        <li class="nav-link">Blog</li>
        <li class="nav-link">Resume</li>
      </ul>
    </nav>
  </div>

  <div class="banner-wrapper"></div>

  <div class="body-wrapper">
    <%= yield %>
  </div>

  <div class="footer-wrapper">
    <footer></footer>
  </div>
</body>
</html>
